li.timeline-item
  .timeline-badge(class=item["status_class"])
    if item["direction"] =='O'
      i.fa.fa-upload
    else
      i.fa.fa-download
  .timeline-panel
    .timeline-heading
      if profile == null
        //.row.justify-content-end         
        //  - var purl = "/channel/profile/" + item["id"]
        //  a.btn.btn-link.col-auto(href=purl)
        //    i.fa.fa-pencil
        //  a.btn.btn-link.col-auto(href=purl)
        //    i.fa.fa-arrow-down 
        //  a.btn.btn-link.col-auto(href=purl)
        //    i.fa.fa-arrow-up 
        //  a.btn.btn-link.col-auto(href=purl)
        //    i.fa.fa-trash-o     
        .row
          - var purl = "/channel/profile/" + item["id"]
          a.btn.btn-link.col-auto(href=purl)
            i.fa.fa-pencil
          h5.timeline-title.mt-2.col-auto.mr-auto #{item["title"]}
      else
        h5.timeline-title #{item["title"]}
      p
        small.text-muted
          i.fa.fa-certificate
          span.ml-2 
          | not certified
    .timeline-body
      p.small
        | A INTERFACE_TYPES.DESCRIPTION field should be populated with the name and resposibility of the bank system. Coments and Notes will be mostly welcomed in this field also.
      br
      - var target = (item["request_protocol"] == "MQ") ? 'queue' : 'folder'
      - var dhref = "/"+ target +"/list/" + item["id"]
      - var uhref = "/" + target + "/upload/" + item["id"]
      - var btn_class = "btn-outline-" + item["status_class"]
      if item["direction"] == 'O'
        a.btn.float-left(href=dhref, class=btn_class)
          span 
            b To 
            | channel      
      else
        a.btn.float-left(href=uhref, class=btn_class)
          span 
            b From 
            | channel






