li.timeline-item
  .timeline-badge.text-light(class='#{item["type"]}') 
    i.fa.fa-download
  .timeline-panel(class='#{item["type"]}')
    .timeline-heading
      h5.text-light.timeline-title #{item["name"]}       
    .timeline-body
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 step : 
          b Start
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 type : 
          b #{item["type"]}
      br
      p.small.text-light
        | #{item["description"]}
      br
      a.btn.btn-light.float-right.hidden(href='#', aria-hidden='true')
        i.fas.fa-file-invoice-dollar
        span.ml-2 
        | show payment   
