li.timeline-item
  .timeline-badge(class=current["status_class"])
    i.fa.fa-exchange
  .timeline-panel
    .timeline-heading
      if profile == null
        .row.justify-content-end         
          - var purl = "/interface/profile/" + current["id"]
          a.btn.btn-link.col-auto(href=purl)
            i.fa.fa-pencil
          a.btn.btn-link.col-auto(href=purl)
            i.fa.fa-arrow-down 
          a.btn.btn-link.col-auto(href=purl)
            i.fa.fa-arrow-up 
          a.btn.btn-link.col-auto(href=purl)
            i.fa.fa-trash-o     
        .row
          h5.timeline-title.mt-2.col-auto.mr-auto #{current["title"]}                   
      else
        h5.timeline-title #{current["title"]}      
      p
        small.text-muted
          i.fa.fa-certificate
          span.ml-2 
          | not certified
    .timeline-body
      p.small
        | A INTERFACE_TYPES.DESCRIPTION field should be populated with the name and resposibility of the bank system. Coments and Notes will be mostly welcomed in this field also.
      br
      - var target = (current["request_protocol"] == "MQ") ? 'queue' : 'folder'
      - var dhref = "/"+ target +"/list/" + current["id"]
      - var uhref = "/" + target + "/upload/" + current["id"]
      - var btn_class = "btn-outline-" + current["status_class"] 
      a.btn.float-left(href=uhref, class=btn_class)
          span 
            b From 
            | interface
      a.btn.float-right(href=dhref, class=btn_class)
          span 
            b To 
            | interface 