li.timeline-item
  .timeline-badge(class=current["status_class"])
    i.fa.fa-exchange
  .timeline-panel
    .timeline-heading
      if profile == null
        .row        
          - var purl = "/interface/profile/" + current["id"]
          a.btn.btn-link.col-md-1(href=purl)
            span.mr-2
              | ...
            i.fa.fa-pencil
          h4.timeline-title.mt-1.col-md-9 #{current["title"]}           
          if similars != null
            - var id = "#ModalSimilars_" + current["id"] 
            include modal_similars            
            button.btn.btn-outline-info.col-md-1(type="button", data-toggle="modal", data-target=id)
              i.fa.fa-cog
      else
        h4.timeline-title #{current["title"]}      
      p
        small.text-muted
          i.fa.fa-certificate
          span.ml-2 
          | not certified
    .timeline-body
      p
        | A INTERFACE_TYPES.DESCRIPTION field should be populated with the name and resposibility of the bank system. Coments and Notes will be mostly welcomed in this field also.
      br
      - var target = (current["request_protocol"] == "MQ") ? 'queue' : 'folder'
      - var dhref = "/"+ target +"/list/" + current["id"]
      - var uhref = "/" + target + "/upload/" + current["id"]
      - var btn_class = "btn-outline-" + current["status_class"] 
      a.btn.float-left(href=uhref, class=btn_class)
          span 
            b From 
            | interface
      a.btn.float-right(href=dhref, class=btn_class)
          span 
            b To 
            | interface 