li.timeline-item
  .timeline-badge.text-dark(class='#{item["type"]}') 
    i.fas.fa-spinner
  .timeline-panel(class='#{item["type"]}')
    .timeline-heading
      h5.text-dark.timeline-title #{item["name"]}       
    .timeline-body
      if item["timestamp"].length > 0      
        p.small.mt-3
          span.rounded.bg-dark.text-light.p-1.pl-2.pr-2 timestamp : 
            b #{item["timestamp"]}
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 type : 
          b #{item["type"]}
      br
      p.small.text-dark
        | #{item["description"]}
      br
