li.timeline-item
  .timeline-badge(class='#{item["type"]}') 
    i.fa.fa-expand
  .timeline-panel(class='#{item["type"]}')
    .timeline-heading
      h5.text-light.timeline-title #{item["name"]}       
    .timeline-body
      if item["timestamp"].length > 0      
        p.small.mt-3
          span.rounded.bg-dark.text-light.p-1.pl-2.pr-2 timestamp : 
            b #{item["timestamp"]}
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 type : 
          b #{item["type"]}
      br
      - var descid = "service_description_" + item["group"] + "_" + item["uid"];
      p.small.text-light(id= descid, data-toggle="popover")
        | #{item["description"]}
      br
      if item["features"].indexOf("flowmanagement") > -1
        include flowstopper
      if item["features"].indexOf("pdo") > -1
        button.btn.btn-light.font-weight-bold.text-success.float-right.btn-details.btn-sm(type="button", data-env=env, data-mid=mid, data-uid=item["uid"], data-view="pdo", data-toggle="modal", data-target="#details")
          i.far.fa-file-alt
          span.ml-2.bold 
          | payment data
      a.btn.btn-dark.float-right.hidden(href='#')
        i.fas.fa-info
        span.ml-2 
        | show details 