li.timeline-item
  .timeline-badge(class='#{item["type"]}') 
    i.fa.fa-expand
  .timeline-panel(class='#{item["type"]}')
    .timeline-heading
      h5.text-light.timeline-title #{item["name"]}       
    .timeline-body
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 step : 
          b #{item["group"]}
        span.ml-2.rounded.bg-light.text-dark.p-1.pl-2.pr-2 type : 
          b #{item["type"]}
      br
      p.small.text-light
        | #{item["description"]}
      br
      a.btn.btn-dark.float-right.hidden(href='#')
        i.fas.fa-info
        span.ml-2 
        | show details 