li.timeline-item
  .timeline-badge(class='#{item["type"]}') 
    i.fa.fa-th-list
  .timeline-panel(class='#{item["type"]}')
    .timeline-heading
      h5.text-light.timeline-title #{item["name"]}       
    .timeline-body
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 step : 
          b #{item["group"]}
      p.small.mt-3
        span.rounded.bg-light.text-dark.p-1.pl-2.pr-2 type : 
          b #{item["type"]}      
      br
      p.small.small.text-light
        | #{item["description"]}
      br
      if item["features"].indexOf("flowmanagement") > -1
        include flowstopper
      button.btn.btn-dark.float-right.btn-subflow(type="button", data-env=env, data-uid=item["uid"], id=item["uid"], data-back="nothing", data-target="#subflow")
        i.fas.fa-box-open
        span.ml-2 
        | show subflow
      