block content  
  .container 
    #subflow.modal.fade.show(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-lg(role="document")
        .modal-content
          .modal-header.text-white.bg-success
            .modal-title
              |  #{data["name"]}
            button( type="button" class="close" data-dismiss="modal" aria-label="Close")
              span( aria-hidden="true")&times;
          .modal-body.bg-light
    #flowmanagement.modal.fade.show(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-lg(role="document")
        .modal-content
          .modal-header.text-white.bg-success
            .modal-title
              |  #{data["name"]}
            button( type="button" class="close" data-dismiss="modal" aria-label="Close")
              span( aria-hidden="true")&times;
          .modal-body.bg-light
    .row#payflow_teplate
      .col-md-12.mt-5
        center.mt-5
          h1.display-4.col-auto #{data["name"]}
          if data["type"] == "usecase"
            h5.mt-2.col-auto #{data["group_name"]}
          br
          blockquote.blockquote.text-center
            p.mb-0 #{data["description"]}
            footer.blockquote-footer
              | quote from  
              cite(title='GPP Business Guide document')           
                a.btn.btn-link(role="button", href=data["guide_url"],  target="_blank" ) GPP Business Guide document
          br
          if data["type"] == "usecase"
            .mt-2.p-2(style="background: #ecf0f1;")
              button#similarFlow.btn.btn-link.text-success.font-weight-bold
                | Show list of payment flows
              span similar to  
              span.font-weight-bold #{data["name"]} 
              span basic use case
        br        
        ul.timeline
          if data["items"] != null && data["items"] != undefined
            each item in data["items"]  
             include flow_item
        br          
            

               