extends layout

block content  
  .container    
    if data == null
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5
            h3.mt-5 Please select Flow by pressing on 
            br
            button.btn.btn-outline-dark.disabled(type='button') Payments & 
              b Flows    
    else
      .row#payflow
        .col-md-12.mt-5
          center.mt-5
            h3.col-auto=data["name"]
            - var c = data["customization"].length ==0 ? "0%" : data["customization"]             
            if data["input"].length > 0
              span.font-italic.text-secondary
                | Input file is : #{data["input"]}
              br
              br      
              span.mr-4
                | STP rate is #{data["stp"]}
              span.ml-4            
                | Customization rate is #{c}   
              
            //.row.justify-content-center.mt-5  
              //button#reset-flow.btn.btn-outline-secondary.mr-2(type='button')
                //i.fa.fa-repeat
                //span.ml-2    
                //| Reset connections
              //button#edit-flow.btn.btn-outline-success.ml-2(type='button', data-filepath=data["filepath"])
              //  i.fa.fa-plus
              //  span.ml-2    
              //  | Add 
              //  b Flow  
              //  | item
          br
          br        
          ul.timeline
            if data["items"] != null && data["items"] != undefined
              each item in data["items"]                            
                case item["type"]
                  when "channel"
                    include flowitems/channel_profile
                  when "interface"
                    include flowitems/interface_profile
                  when "service"
                    include flowitems/service_profile
                  default
                    include flowitems/interface_profile
          br
          if data["items"][0]["status_class"] != "secondary"
            .row.justify-content-center.mt-5  
              a.btn.btn-outline-danger(href= "/folder/delete/currentflow")
                i.fa.fa-trash
                span.ml-2    
                | Delete 
                b Flow
              