block content  
  .container    
    if (data == null) || Object.keys(data).length == 0
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5            
            h3.mt-5 Please click on a mid from the mids list ...
    else
      #detailsflow.modal.fade.bd-subflow-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
          .modal-content
            .modal-body 
      .row#payflow
        .col-md-12.mt-5
          center.mt-5
            h3.col-auto #{data["name"]} 
            br 
            if data["mid"] != undefined || data["mid"] != null
              span.font-italic.text-secondary
                | for MID : #{data["mid"]}
              br      
              span
                | Current flow is similar to  
                a.btn-outline-primary(href='/onboard/showflow/template/#{data["template"]}') #{data["template"]}  
                | with 
                b #{data["customization"]} 
                | of similarity
              br
              a#showTable.btn.btn-dark.mt-3.text-light
                i.fas.fa-arrow-right
                span.ml-3
                | show Activities
            br
            br
          ul.timeline
            if data["items"] != null && data["items"] != undefined
              each item in data["items"]  
               include flow_item
          br
          if (data["items"] && data["items"][0] && data["items"][0]["status_class"] != "secondary")
            .row.justify-content-center.mt-5
              a.btn.btn-outline-danger(href= "/folder/delete/currentflow")
                i.fa.fa-trash
                span.ml-2    
                | Delete  
                b Flow


               