extends layout

block content
  .container.mt-5
    h3.mt-5=identity["title"]
    br
    blockquote.blockquote
      p.small=identity["description"] 
      //if data != null 
      // - var href = "/" + identity["type"] + "/new"
      //  a.btn.btn-outline-success.mt-2(href=href, role="button", aria-disabled="true")
      //    i.fa.fa-plus
      //    span.ml-2 Add new #{identity["type"] }
    br
    if data == null 
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5
            h3.mt-5 Comming very very  very soon 
            br             
    else      
      each key in Object.keys(data)   
        br      
        h4 #{key}            
        br            
        table.table.table-hover
          .container
            thead
              tr.row.text-dark
                th.col.col-md-1 Office         
                th.col.col-md-4 Name
                th.col.col-md-5 Description
                th.col.col-md-1 Dir
                th.col.col-md-1
            tbody  
             

