extends layout

block content
  .container.mt-5
    h3.mt-5=identity["title"]
    br
    blockquote.blockquote
      p.small=identity["description"]       
    br
    if data == null 
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5
            h3.mt-5 Comming very very  very soon 
            br             
    else
      each key in Object.keys(data)          
        - var script = data[key][0]
        br
        br
        br
        .row      
          .col-md-7
            h4  #{key}
            p  #{script.name}                       
          .col-md-5
            include scripts/script_modal
            if script.options["properties"] == true  
              button.btn.mt-2.btn-outline-dark.float-right.ml-4(type="button", data-toggle="modal", data-target=".script-modal")
                i.fa.fa-sign-in
                span.mt-1.ml-2  Set parameters
            if script.options["allrun"] == true 
              a#allrun.btn.btn-outline-primary.mt-2.float-right( href= "/" + identity["type"] + "/run/"+ key +"/0")
                i.fa.fa-forward
                span.mt-1.ml-2  Execute all
            if script.options["allroll"] == true 
              a#allback.btn.btn-outline-danger.mt-2.float-right.mr-4( href= "/" + identity["type"] + "/rollback/"+ key +"/0")
                i.fa.fa-backward
                span.mt-1.ml-2  Rollback all          
        br            
        table.table.table-hover
          .container
            thead
              tr.row.text-dark
                th.col.col-md-1 #
                th.col.col-md-3 Script
                th#spinner.col.col-md-5 Description
                th.col.col-md-3 
            tbody
              - var steps = data[key][0].values              
              for k in Object.keys(steps)
                tr.row.text-dark 
                  -var obj = steps[k]               
                  td.col.col-md-1
                    if obj["status"] == "success"
                      i.fa.fa-check.fa-lg.text-success
                    else
                      span=k
                  td.col.col-md-3 
                    i #{obj["name"]}
                  td.col.col-md-5 #{obj["description"]}
                  td.col.col-md-3
                   if obj["action"] == "rollback"
                      - var rhref = "/" + identity["type"] + "/rollback/"+ key +"/" + k
                      a.btn.btn-danger.mt-2.btn-sm.float-right( href= rhref )
                        |  rollback                     
                    if obj["action"] == "run"
                      - var ehref = "/" + identity["type"] + "/run/"+ key +"/" + k
                      a.btn.btn-primary.mt-2.btn-sm.float-right( href= ehref)
                        |  execute
              
        hr