extends layout

block content
  .container.mt-5
    h3.mt-5=identity["title"]
    br
    blockquote.blockquote
      p.small=identity["description"]       
    br
    if data == null 
      .row.mt-5
        .col-md-12.mt-5
          center.mt-5
            h3.mt-5 Comming very very  very soon 
            br             
    else
      each key in Object.keys(data) 
        br
        br
        h4 #{key} 
        br            
        table.table.table-hover
          .container
            thead
              tr.row.text-dark
                th.col.col-md-4 Service
                th.col.col-md-6 Description
                th.col.col-md-2 
            tbody  
              each obj in data[key]
                tr.row.text-dark
                  td.col.col-md-4
                    b #{obj["title"]}
                  td.col.col-md-6 #{obj["description"]}
                  td.col.col-md-2                    
                    - var href = "/" + identity["type"] + "/profile/" + obj["uid"]
                    a.btn.btn-success.btn-sm.hoverbutton(href= href)
                      i.fa.fa-external-link
                      span.ml-2  Edit