script.
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    "use strict";
    window.addEventListener("load", function() {
      var form = document.getElementById("needs-validation");
      form.addEventListener("submit", function(event) {
        if (form.checkValidity() == false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add("was-validated");
      }, false);
    }, false);
  }());

.modal.script-modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header.text-light.bg-dark
        h5#exampleModalLabel.modal-title #{data.key} 
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.text-light(aria-hidden='true') ×
      br
      .modal-body
        form#needs-validation(action='/onboard/input' , method="POST", novalidate)
          .form-group.row
            label.col-sm-3.col-form-label(for='inputOffice') Office
            .col-sm-8
              input#inputOffice.w-100.form-control(name="OFFICE", type='text', placeholder='', value=data["input"]["office"] , required)                            
          .form-group.row
            label.col-sm-3.col-form-label(for='inputDepartment') Department
            .col-sm-8
              input#inputDepartment.w-100.form-control(name="DEPARTMENT", type='text', placeholder='', value=data["input"]["department"], required) 
          .form-group.row
            label.col-sm-3.col-form-label(for='inputBIC') BIC
            .col-sm-8
              input#inputBIC.w-100.form-control(name="BIC", type='text', placeholder='', value=data["input"]["bic"], required)  
          .form-group.row
            label.col-sm-3.col-form-label(for='inputCountry') Country
            .col-sm-8
              input#inputCountry.w-100.form-control(name="COUNTRY", type='text', placeholder='', value=data["input"]["country"], required)
          .form-group.row
            label.col-sm-3.col-form-label(for='inputCurrency') Currency
            .col-sm-8
              input#inputCurrency.w-100.form-control(name="CURRENCY", type='text', placeholder='', value=data["input"]["currency"], required) 
          .form-group.row
            label.col-sm-3.col-form-label(for='inputMOP') MOP
            .col-sm-8
              input#inputMOP.w-100.form-control(name="MOP", type='text', placeholder='', value=data["input"]["mop"], required)
          br
          .form-group.row.justify-content-end
            .col-sm-9
              button.btn.btn-primary.float-left(type='submit') Save parameters
              a.btn.btn-link.float-right( href='/onboard/reset') Reset all

    